<h1>Little Etsy Shop</h1>
<h2><%= @merchant.name %></h2>

<%= link_to "Dashboard", merchant_dashboard_path(@merchant) %>
<%= link_to "My Items", merchant_items_path(@merchant) %>

<h3> Invoice #<%= @invoice.id %></h3>
    <ul>
        <li>Status: <%= @invoice.status %></li>
        <li>Created At: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></li>
        <li>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></li>
    </ul>
<h4>Items</h4>
    <div class="table">
        <% @invoice_items.each do |invoice_item| %>
            <div class="row" id="item_<%=invoice_item.item.id%>"> 
                <div class="col">Name: <%= invoice_item.item.name %></div>
                <div class="col">Quantity: <%= invoice_item.quantity%></div>
                <div class="col">Price: $<%= invoice_item.unit_price %></div>
                <div class="col">
                    Item status: <%= form_with model: [@merchant, invoice_item] do |f| %>
                        <%= f.select :status, [["Pending", "pending"], ["Packaged", "packaged"], ["Shipped", "shipped"]]%>
                        <%= f.submit "Update Item Status" %>
                        <% end %>
                        
                        <% if flash[:notice] %>
                            <p><%= flash[:notice]%></p>    
                        <% end %>
                </div>

            </div>
        <% end %>
    </div>
<h4>Total Revenue: <%= @total_revenue %></h4>
