<h3><%= "Invoice ##{@invoice.id}" %></h3>

<p><%= "Status: #{@invoice.status.titleize}" %></p>
<p><%= "Created on: #{@invoice.format_created_date}" %></p>
<p><%= "Customer: #{@invoice.customer.full_name}" %></p>

<h3>Items on this Invoice:</h3>
<style>table, th, td {border:1px solid black;}</style>
<table>
  <head>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Status</th>
  </head>
  <body>
    <% @invoice_items.each do |invoice_item| %>
      <tr>
        <td><%= invoice_item.item.name %></td>
        <td><%= invoice_item.quantity %></td>
        <td><%= invoice_item.unit_price %></td>
        <td><%= invoice_item.status %></td>
      </tr>
    <% end %>
  </body>
</table>
