<h3>Invoice #<%= @invoice.id %></h3>

<h3>Status: <%= @invoice.status %></h3>

<p>Created on: <%= @invoice.format_created_at %></p>
<h4>Customer:</h4>
<%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %>
<br>
<br>
<h4>Items on Invoice:</h4>
  <% @invoice.invoice_items.each do |invoice_item| %>
    <p>Item Name: <%= invoice_item.item.name %></p>
    <p>Quantity: <%= invoice_item.quantity %></p>
    <p>Unit Price: <%= invoice_item.format_selling_price %></p>
    <p>Status: <%= invoice_item.status %>
    
  <% end %>
    