<h1>Admin Dashboard</h1>

<%= link_to "Merchants Index", "/admin/merchants" %>
<%= link_to "Invoices Index", "/admin/invoices" %>

<div id="top_customers">
   <h3>Top Customers</h3>
   <% @customers.top_five_customers.each do |customer| %>
      <div id="customer_<%= customer.id %>">
         <p>Name: <%= customer.first_name %></p>
         <p>Number of Transactions: <%= customer.transactions_count %></p>
      </div>
   <% end %>
</div>

<div id="incomplete_invoices">
   <h3>Incomplete Invoices</h3>
   <% @incomplete_invoices.each do |invoice| %>
      <div id="invoice-<%= invoice.id %>">
         <p><%= link_to invoice.id, admin_invoice_path(invoice.id) %></p>
      </div>
   <% end %>
</div>