<h1>Admin Dashboard</h1>


<section id="admin_merchants_index">
  <%= link_to "Merchants", "/admin/merchants" %>
</section>
<section id="admin_invoices_index">
<%= link_to "Invoices", "/admin/merchants" %>
</section>

<h3>Top 5 Customers</h3>
<% @ordered_customers.each do |customer| %>
  <p><%= customer.first_name%> <%= customer.last_name%>: <%= customer.invoices.transactions%> Transactions</p>
  <% end %>
