<h1>Admin Dashboard</h1>
<h3>Admin Links</h3>
<ul>
  <%= link_to "Merchants", "/admin/merchants" %><br>
  <%= link_to "Invoices", "/admin/invoices" %>
</ul>

<h2>Top Customers</h2>

<ol>
  <% @top_customers.each do |customer| %>
      <li><%= customer.first_name %> <%= customer.last_name %> - <%= customer.transaction_count %> Purchases</li>
  <% end %>
</ol>  


<table>
  <thead>
    <tr>
      <th>Incomplete Invoices</th>
    </tr>
  </thead>
  <tbody>
    <% @incomplete_invoices.each do |invoice| %>
      <tr>
        <td>Invoice #<%= link_to "#{invoice.id}", "/admin/invoices/#{invoice.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>