<body>
<div class="admin_header">Little Esty Shop</div><br>
<div class ="nav_button"><%= link_to "Merchants", admin_merchants_path %> </div>
<div class ="nav_button"><%= link_to "Invoices", admin_invoices_path %> </div>
<div class ="current_button">Dashboard</div>
<h3>Admin Dashboard</h3>
<br><br>

<div class="two-columns">
  <div>
  <div class="admin_sub"><h3>Incomplete Invoices</h3></div>
  <br><br><br><br>
  <ol><% @invoices.incomplete_not_shipped.each do |i| %>
      <%= link_to "Invoice ##{i.id}", "/admin/invoices/#{i.id}" %> - <%= i.format_date %><br>
      <% end %>
  </ol>
  </div>
  
  <div>
  <div class="admin_sub"><h3>Top Customers</h3></div
  ><br><br>
    <div class="enlarge_list"><br><br>
      <ol>
        <% @customers.top_5_by_transaction.each do |c| %>
       <li> </li><%= c.name %><br>
      <% end %>
      </ol>
    </div>

  </div>
</div>

</body>