<%= render partial: "admin_nav" %>
<br>
<br>
<%# Refactor this later to potentially add table or article? Maybe font size?  %>
<div id="top-5-customers", style="float:right; margin:20px;"><h3 style="background-color:lightgrey;"><center>Top Customers</h3>
  <ol>
    <% @customers.each do |customer| %>
        <li><%= customer.first_name %> <%= customer.last_name %> - <%= customer.successful_transaction_count %> purchases </li><br>
    <% end %>
  </ol>
</div>
<div id="incomplete-invoices", style="float:left; margin:20px;"><h3 style="background-color:lightgrey;"><center>Incomplete Invoices</h3>
  <ul>
    <% @invoices.each do |invoice| %>
        <li>Invoice #<%= link_to "#{invoice.id}", "/admin/invoices/#{invoice.id}" %></li><br>
    <% end %>
  </ul>
</div>