<div id="admin-dashboard-header">
  <h1> Admin Dashboard </h1>
</div>

<div class="sub-header">
    <nav class="navigation-bar"> 
      <%= link_to "Dashboard", admin_index_path %>
      <%= link_to "Merchants", admin_merchants_path %>
      <%= link_to "Invoices", admin_invoices_path %>
    </nav>
</div>


<div class="column">
  <section class="top_customers">
    <h3>  Top 5 Customers</h3>
      <ol>
        <% @top_5_customers.each do |customer| %>
          <li><%="#{customer.first_name} #{customer.last_name} has made #{customer.result_count} successful transactions"%></li><br>
        <% end %>
      </ol>
  </section>
  </div>

<div class="incomplete-invoices">
  <h2> Incomplete Invoices </h2>
  <table>
    <thead>
      <tr>
        <th>Invoice ID</th>
        </tr>
    </thead>
    <tbody>
      <% @incomplete_invoices.each do |invoice| %>
        <tr>
          <td><%= link_to "invoice ##{invoice.id}", admin_invoice_path(invoice.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> f585dc0895e933c0e52a17a6cab1b4f3c43b1200
