<h1>Invoice viewer</h1>
<h3><%= @invoice.id %></h3>
<h3><%= @invoice.status %></h3>
<h3><%= @invoice.created_at.strftime('%A, %B %d, %Y') %></h3>
<h3><%= @customer.first_name %> <%= @customer.last_name %></h3>
<br>
<section class='items'>
    <% @invoice.items.each do |item| %>
        <div id="item-<%= item.id %>">
            <h3><%= item.name %></h3>
            <h3><%= item.unit_price %></h3>
            <h3><%= item.status %></h3>

            <% @invoice.invoice_items.each do |invoice_item| %>
                <% if invoice_item.invoice_id == @invoice.id && invoice_item.item_id == item.id %>
                    <h3><%= invoice_item.quantity %></h3>
                <% end %>
            <% end %>

        </div>
    <% end %>
</section>