<h1>Invoice viewer</h1>
<h3><%= @invoice.id %></h3>
<h3><%= @invoice.status %></h3>
<h3><%= @invoice.created_at.strftime('%A, %B %d, %Y') %></h3>
<h3><%= @customer.first_name %> <%= @customer.last_name %></h3>