<h2><%= "All Admin Invoices" %></h2>
<div class="button-container">
<%= button_to "Sort Alphabetically, A-Z", "/admin/invoices", method: :get, params: {:order => "alphabetical"} %> 
<%= button_to "Sort by Date, Newest-Oldest", "/admin/invoices", method: :get, params: {:order => "date"} %>
</div>

<ol><% @invoices.each do |i| %>
<div id="update_status-<%= i.id %>">
<%= link_to "Invoice ##{i.id}", "/admin/invoices/#{i.id}" %> | <%= i.format_date %> | <b>Status:</b> <%= i.status.titleize %>
<%= form_with(url: admin_invoice_show_path(i), method: :patch, local: true) do |form| %>
    <%= form.hidden_field :index, value: "true" %>
    <%= form.select :status_update, ["In Progress", "Completed", "Cancelled"], {selected: i.status.titleize} %>
    <%= form.submit "Update Invoice Status" %>
    </div>
<% end%><br>
<% end %>
</ol>
