<h1><%= "Invoice ##{@invoice.id}" %></h1>
<b> Status: </b> <%= @invoice.status.titleize %><br>
<b> Created at: </b> <%= @invoice.format_date %><br>
<b> Customer Name: </b> <%= @invoice.customer.name %><br>

<h3>Attached Invoice Items:</h3>
<% @invoice.invoice_items.each do |ii| %>
<b> Item Name: </b> <%= ii.item.name %><br>
<b> Quantity: </b> <%= ii.quantity %><br>
<b> Unit Price: </b> $<%= ii.price %><br>
<b> Status: </b> <%= ii.status.capitalize %><br><br>
<% end %>

<h4>Total Potential Revenue: <%= number_to_currency(@invoice.potential_revenue) %></h4>

<%= render partial: 'form', locals: { 
                                      path: admin_invoice_show_path(@invoice),
                                      value: "show",
                                      selected: @invoice.status.titleize
																		} %>

