<center>Invoice <%= @invoice.id %></center>
<section id="invoice_info">
  <%= form_with url: "/admin/invoices/#{@invoice.id}", method: :patch, id: "invoice-status" do |form|  %>
    <%= form.label :status %>
    <%= form.select :status, options_for_select(["in progress", "completed", "cancelled"], @invoice.status ) %>
    <%= form.submit "Update Status" %>
  <% end %>
  <p>Created on: <%= @invoice.created_at.to_datetime.strftime("%A, %B %d, %Y") %></p>
  <p>Revenue: <%= format_price(@invoice.revenue) %></p>
  <p>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
</section>
<section id="item_table">
  <h2>Items on Invoice</h2>
  <table>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Status</th>
    </tr>
    <% @invoice.invoice_items.each do |invoice_item| %>
      <tr>
        <td><%= invoice_item.item.name %></td>
        <td><%= invoice_item.quantity %></td>
        <td><%= format_price(invoice_item.unit_price) %></td>
        <td><%= invoice_item.status %></td>
      </tr>
    </section>
  <% end %>
