<h2><%= "Invoice: #{@invoice.id}" %></h2>
Created at: <%= @invoice.formatted_date %></br>
Customer: <%= @invoice.customer.first_name + " " + @invoice.customer.last_name %>
<%= form_with url: "/admin/invoices/#{@invoice.id}", method: :patch, data: { turbo: false } do |f| %>
Current Status: <%= f.select :status, options_for_select(["completed", "cancelled", "in progress"], selected: @invoice.status) %><br>
<%= f.submit "Update Invoice Status" %>
<%end%>
</br></br>
<table>
  <tr>
    <th>Item</th>
    <th>Quanity</th>
    <th>Price per unit</th>
    <th>Status</th>
  </tr>
<% @invoice.invoice_items.each do |invoice_item| %>
<section id="invoice_item-<%= invoice_item.id %>">
  <tr>
    <td><%= invoice_item.item.name %></td>
    <td><%= invoice_item.quantity %></td>
    <td><%= number_to_currency(invoice_item.item.unit_price/100.0) %></td>
    <td><%= invoice_item.status %></td>
  </tr>
</section>
  <% end %>
</table>

<section id="total_revenue"><h3> Total Price: <%=number_to_currency(@invoice.total_revenue/100.0)%> </h3></section>