<%= "Invoice: #{@invoice.id}" %></br>
<%= @invoice.status.capitalize %> </br>
<%= @invoice.formatted_date %></br>
<%= @invoice.customer.first_name + " " + @invoice.customer.last_name %></br></br>

<table>
  <tr>
    <th>Item</th>
    <th>Quanity</th>
    <th>Price per unit</th>
    <th>Status</th>
  </tr>
<% @invoice.invoice_items.each do |invoice_item| %>
<section id="invoice_item-<%= invoice_item.id %>">
  <tr>
    <td><%= invoice_item.item.name %></td>
    <td><%= invoice_item.quantity %></td>
    <td><%= number_to_currency(invoice_item.item.unit_price/100.0) %></td>
    <td><%= invoice_item.status %></td>
  </tr>
</section>

  <% end %>
 
</table>