<body>
<div class="admin_header">Little Esty Shop</div><br>
<div class ="current_button">Invoices</div>
<div class ="nav_button"><%= link_to "Merchants", admin_merchants_path %> </div>
<div class ="nav_button"><%= link_to "Dashboard", admin_root_path %> </div>
<h3>Admin Dashboard</h3>
<br><br>

<div class="admin_sub_header"><%= "Invoice ##{@invoice.id}" %></h2></div>
<ol>
  <div class="button-container">
    Status: <%= render partial: 'form', locals: { 
                                          path: admin_invoice_show_path(@invoice),
                                          value: "show",
                                          selected: @invoice.status.titleize
                                        } %>
  </div><br>

  <b> Created on: </b> <%= @invoice.format_date %><br>
  <h4>Total Potential Revenue: <%= number_to_currency(@invoice.potential_revenue) %></h4>
  <h3> <b>Customer Name: </b> <%= @invoice.customer.name %><br></h3>

  <h3>Items on this Invoice:</h3>
    <% @invoice.invoice_items.each do |ii| %>
    <b> Item Name: </b> <%= ii.item.name %><br>
    <b> Quantity: </b> <%= ii.quantity %><br>
    <b> Unit Price: </b> $<%= ii.price %><br>
    <b> Status: </b> <%= ii.status.capitalize %><br><br>
    <% end %>

</ol>
</body>