<h1> Admin Invoice Info</h1>
<p>Invoice id: <%=@invoice.id%></p>
<p>Invoice status: <%=@invoice.status%></p>
<p>Invoice created date: <%=format_created_at(@invoice.created_at)%></p>
<p>Invoice customer name: <%=@invoice.customer.first_name%> <%=@invoice.customer.last_name%></p>


<h3>Total Revenue: <%=number_to_currency(@invoice.total_revenue)%></h3>