<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
</style>
</head>
<body>

<h1 style="background-color:grey; text-align:center; border-top-style: solid;">Invoice #<%= @invoice.id %></h1>

<div id="invoice_status">
  <%= form_with url: admin_invoice_path(@invoice), method: :patch, data: {turbo: false} do |f| %>
    Status: <%= f.select "status", options_for_select([["In Progress", 0], ["Cancelled", 1], ["Completed", 2]]), value: @invoice.status%>
    <%= f.button "Update Invoice" %>
  <% end %>
</div>

<p>Created on: <%= @invoice.created_at.strftime('%A, %B %d, %Y') %></p>

<div id="invoice_revenue">
  <p>Total Revenue: <%= number_to_currency((@invoice.total_revenue_dollars), unit: "$")%></p>
</div>

<p>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>

<section class="invoice_items">
  <h3>Items on this invoice</h3>
  <table style="width:80%">
    <tr>
      <th style="background-color:grey; color: white;">Item Name</th>
      <th style="background-color:grey; color: white;">Quantity</th>
      <th style="background-color:grey; color: white;">Unit Price</th>
      <th style="background-color:grey; color: white;">Status</th>
    </tr>
    <% @invoice.invoice_items.each do |invoice_item| %>
      <tr>
        <div id="invoice_item-<%= invoice_item.id%>">
          <td><%= invoice_item.item.name %></td>
          <td><%= invoice_item.quantity %></td>
          <td><%= number_to_currency((invoice_item.unit_price_to_dollars), unit: "$") %></td>
          <td><%= invoice_item.status %></td>
        </div>
      </tr>
    <% end %>
  </table>
</section>
</body>
</html>