<h1><%= "Invoice ##{@invoice.id}" %></h1>
<b> Status: </b> <%= @invoice.status.titleize %><br>
<b> Created at: </b> <%= @invoice.format_date %><br>
<b> Customer Name: </b> <%= @invoice.customer.name %><br>

<h3>Attached Invoice Items:</h3>
<% @invoice.invoice_items.each do |ii| %>
<b> Item Name: </b> <%= ii.item.name %><br>
<b> Quantity: </b> <%= ii.quantity %><br>
<b> Unit Price: </b> $<%= ii.price %><br>
<b> Status: </b> <%= ii.status.capitalize %><br><br>
<% end %>

<%= form_with(url: admin_invoice_show_path(@invoice), method: :patch, local: true) do |form| %>
    <%= form.select :status_update, ["In Progress", "Completed", "Cancelled"], {selected: @invoice.status.titleize} %>
    <%= form.submit "Update Invoice Status" %>
<% end%>

