<%= render partial: "invoice_details", locals: { invoice: @invoice} %>

<p id="invoice_items">Invoice Items: 
  <% @invoice.invoice_items.each do |invoice_item| %>
  <li>ITEM NAME: <%= invoice_item.item.name %></li>
  <li>QUANTITY: <%= invoice_item.quantity %></li>
  <li>UNIT PRICE: <%= number_to_currency(invoice_item.unit_price / 100.0) %></li>
  <li>ITEM STATUS: <%= invoice_item.status %></li>
  <br>
  <% end %>
</p>

<section id="total_revenue">
  <h2>Revenue Generated</h2>
  <p>Total Revenue for Invoice <%= @invoice.id %> is: <%= number_to_currency(@invoice.total_revenue / 100) %></p>
</section>