<section class="invoice-details">
  <p><strong>ID:</strong> #<%= @invoice.id %></p>
  <p><strong>Status:</strong> <%= select_tag 'invoice[status]', options_for_select(["in progress", "completed", "cancelled"], @invoice.status) %></p>
  <%= button_to "Update Invoice Status", admin_invoice_path(@invoice), method: :patch, data: { turbo: false } %><br>
  <p><strong>Customer:</strong> <%= @invoice.customer.full_name %></p>
  <p><strong>Created Date:</strong> <%= @invoice.date_format %></p>
  <p><strong>Total Revenue:</strong> $<%= @invoice.total_revenue %></p>
</section>

<% @invoice.invoice_items.each do |invoice_item| %>
  <section id="invoice-item-<%= invoice_item.id %>"></p>
    <p>Item: <%= invoice_item.item.name %></p>
    <p>Quantity Ordered: <%= invoice_item.quantity %></p>
    <p>Sold Price: <%= number_to_currency(invoice_item.unit_price) %></p>
    <p>Invoice Item Status: <%= invoice_item.status %></p>
  </section>
<% end %>