<h1>Invoice Details</h1>

<div>
  <p><strong>Invoice ID:</strong> <%= @invoice.id %></p>
  <p><strong>Status:</strong> <%= @invoice.status %></p>
  <p><strong>Created At:</strong> <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
  <p><strong>Customer Name:</strong> <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
</div>