<h1>Admin Invoice - <%= @invoice.id %></h1>

  <%= form_with(model: @invoice, url: admin_invoice_path(@invoice), method: :patch) do |form| %>
    <div>
      <label for="invoice_status">Invoice Status:</label>
      <%= form.select :status, options_for_select(Invoice.status_list_for_select_menu, @invoice.status) %>
      <%= form.submit 'Update Invoice Status' %>
    </div>
  <% end %>

  <p>Created at: <%= @invoice.created_at.strftime('%A, %B %d, %Y') %></p>
  <p>Total Revenue: <%= @invoice.total_revenue_to_currency %>

  <h2>Customer Information:</h2>
  <p>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
  
<h2>Items on Invoice:</h2>
<table class="invoice-table">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Invoice Item Status</th>
    </tr>
  </thead>
  
    <% @invoice_items.each do |invoice_item| %>
      <tr>
        <td><%= invoice_item.item.name %></td>
        <td><%= invoice_item.quantity %></td>
        <td><%= (invoice_item.price_to_currency) %></td>
        <td><%= invoice_item.status %></td>
      </tr>
    <% end %>
</table>
