<h1>Invoice #<%= @invoice.id %></h1>

<p>Invoice ID: <%= @invoice.id %></p>
<p>Invoice Status: <%= @invoice.status %></p>
<p>Invoice Created At: <%= @invoice.created_at.strftime('%A, %B %d, %Y') %></p>
<p>Customer Name: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>

<h2>Invoice Items</h2>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @invoice_items.each do |invoice_item| %>
      <tr>
        <td><%= invoice_item.item.name %></td>
        <td><%= invoice_item.quantity %></td>
        <td><%= number_to_currency(invoice_item.unit_price) %></td>
        <td><%= invoice_item.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>