<h2>Coupon Name: <%= @coupon.name %></h2>
<p>Coupon Code: <%= @coupon.code %></p>
<p>Coupon Value: <%= @coupon.value %></p>
<p>Coupon Type: <%= @coupon.coupon_type %></p>
<p>Times Used: <%= @coupon.uses %></p>
<p>Status: <%= @coupon.status %></p>