<h1>Edit Merchant</h1>

<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<%= form_with url: "/admin/merchants/#{@merchant.id}", method: :patch, data: { turbo: false } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Submit" %>
<% end %>