<h1>Merchant <%= @merchant.id %></h1>
<%= form_with model: @merchant, url: "/admin/merchants/#{@merchant.id}", method: "patch", local: true do |form| %>
  <%= form.label :name, "Name:" %>
  <%= form.text_field :name %>
  <%= form.submit "Update Merchant" %>
<% end %>