<h1> Update <%= @merchant.name %> </h1>
<%= form_with url: admin_merchant_path(@merchant), method: :patch do |f| %>
  <%= f.label :name, "Merchant Name: " %>
  <%= f.text_field :name, value: @merchant.name %>

  <%= f.submit "submit"%>
<% end %>