<h1> Merchants Index Page </h1>

<% @merchants.each do |merchant| %>
  <ul>
    <%= link_to merchant.name, admin_merchant_path(merchant)%>
    <%= merchant.status %>

    <%= form_with url: admin_merchant_path(merchant), method: :patch do |form| %>
      <% if merchant.status == "" %>
        <%= form.button "Enable", name: "merchant[status]", value: "Enabled" %>
      <% else %>
        <%= form.button "Disable", name: "merchant[status]", value: "" %>
      <%end%>
    <%end%>
  </ul>
<%end%>
