<section id="create-merchant">
  <%= link_to 'New Merchant', new_admin_merchant_path %>
</section>

<section id="enabled-merchants">
  <h2>Enabled Merchants</h2>
  <ul>
  <% @merchants.each do |merchant| %>
    <% if merchant.enabled? %>
        <li id="merchant-<%= merchant.id %>"><%= merchant.name %> <%= button_to "Disable Merchant", admin_update_merchant_path(merchant.id), method: :patch %></li>
    <% end %>
  <% end %>
  </ul>
</section>


<section id="disabled-merchants">
  <h2>Disabled Merchants</h2>
  <ul>
    <% @merchants.each do |merchant| %>
      <% if merchant.disabled? %>
        <li id="merchant-<%= merchant.id %>"><%= merchant.name %> <%= button_to "Enable Merchant", admin_update_merchant_path(merchant.id), method: :patch %></li>
    <% end %>
  <%end %>
  </ul>
</section>