<p>Merchants</p>

<%= @merchants.each do |merchant| %>
  <p>
    Name: <%= link_to  "#{merchant.name}", "merchants/#{merchant.id}" %><br>
    Status: <%= merchant.status %>
    <%= button_to "Disable #{merchant.name}" %><br>
    <%= button_to "Enable #{merchant.name}" %>
  </p>
<% end %>
