<h1>Merchants</h1>

<section class = "merchants-index">
  <% @merchants.each do |merchant| %>
    <div id="merchant-<%= merchant.id %>">
      <p><%= link_to "#{merchant.name}", admin_merchant_path(merchant.id)  %></p>
      <p> Status: <%= merchant.status.capitalize %></p>
      <% if merchant.status == "enabled" %>
        <p><%= button_to "disable", admin_merchant_path(merchant.id, update_status: "disable"), method: :patch  %></p>
      <% else %>
        <p><%= button_to "enable", admin_merchant_path(merchant.id, update_status: "enable"), method: :patch  %></p>
      <% end %>  
    </div>
  <% end %>
</section>

<section id = "enabled_merch">
    <p>Enabled Merchants:</p>
  <% @merchants.each do |merchant| %>
    <% if merchant.status == "enabled" %>
    <ul>
      <li><%= merchant.name%></li></br>
    </ul>
    <% end %>
  <% end %>
</section>

<section id = "disabled_merch">
    <p>Disabled Merchants:</p>
  <% @merchants.each do |merchant| %>
    <% if merchant.status == "disabled" %>
    <ul>
      <li><%= merchant.name%></li></br>
    </ul>
    <% end %>
  <% end %>
</section>

<%= link_to 'Create Merchant',  new_admin_merchant_path %>



