<h1> Merchants Index Page </h1>
<% @merchants.each do |merchant| %>
  <section id="merchant-<%= merchant.id %>">
<p><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></p>
  <% if merchant.status == "enabled" %>
    <%= form_with url: "/admin/merchants/#{merchant.id}", method: :patch, data: {turbo: false} do |f| %>
      <%= f.hidden_field :status, :value=>"disabled" %>
      <%= f.submit "Disable #{merchant.name}" %>
    <% end %>
  <% else %>
    <%= form_with url: "/admin/merchants/#{merchant.id}", method: :patch, data: {turbo: false} do |f| %>
      <%= f.hidden_field :status, :value=>"enabled" %>
      <%= f.submit "Enable #{merchant.name}" %>
    <% end %>
<% end %>












</section>
<% end %>
<p><%= link_to "Create a new merchant", "/admin/merchants/new" %></p>