<h1>Merchants</h1>

<ul>
   <% @merchants.each do |merchant| %>
   <li>
      <div id="merchant-<%= merchant.id %>">
         <h3>Merchant: <%= link_to merchant.name, admin_merchant_path(merchant.id) %></h3>
       <p> Status: <%= merchant.status.capitalize %></p>
      <% if merchant.status == "enabled" %>
        <p><%= button_to "Change Status", admin_merchant_path(merchant.id, update_status: "disable"), method: :patch  %></p> 
        <% else %>
          <p><%= button_to "Change Status", admin_merchant_path(merchant.id, update_status: "enable"), method: :patch  %></p> 
        <% end %>    
      </div>
   </li>
  <% end %>
</ul>

<h3>Enabled Merchants</h3>
<div id="enabled_merchants">
  <% @enabled_merchants.each do |merchant| %>
    <div id="enabled-merchant-<%= merchant.id %>">
      <%= merchant.name %>
    </div>
  <% end %>
</div>

<h3>Disabled Merchants</h3>
<div id="disabled_merchants">
  <% @disabled_merchants.each do |merchant| %>
    <div id="disabled-merchant-<%= merchant.id %>">
      <%= merchant.name %>
    </div>
  <% end %>
</div>

<%= link_to 'Create New Merchant', new_admin_merchant_path %>

<section class="top_merchants">
  <h2>Top 5 Merchants by Revenue</h2>
  <% @merchants.each do |merchant| %>
    <div>
      <%= link_to merchant.name, admin_merchant_path(merchant) %>
      <p>Revenue: <%= number_to_currency(merchant.revenue) %></p>
      <% top_day = merchant.best_day %>
      <p>Top selling date for <%= merchant.name %> was <%= top_day.strftime("%B %d, %Y") if top_day.present? %></p>
    </div>
  <% end %>
</section>