<section id="create-merchant">
  <%= link_to 'New Merchant', new_admin_merchant_path %>
</section>

<section id="enabled-merchants">
  <h2>Enabled Merchants</h2>
  <ul>
  <% @merchants.each do |merchant| %>
    <% if merchant.enabled? %>
      <li id="merchant-<%= merchant.id %>">
        <%= link_to merchant.name, admin_merchant_path(merchant) %> <%= button_to "Disable Merchant", admin_update_merchant_path(merchant.id), method: :patch %>
      </li>
    <% end %>
  <% end %>
  </ul>
</section>


<section id="disabled-merchants">
  <h2>Disabled Merchants</h2>
  <ul>
    <% @merchants.each do |merchant| %>
      <% if merchant.disabled? %>
        <li id="merchant-<%= merchant.id %>">
          <%= link_to merchant.name, admin_merchant_path(merchant) %> <%= button_to "Enable Merchant", admin_update_merchant_path(merchant.id), method: :patch %>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>

<section id="top-merchants">
  <h2>Top Merchants</h2>
  <ol>

    <% @merchants.top_5_merchants.each do |merchant| %>
      <li id="top-merchant-<%= merchant.id %>">
        <%= link_to "#{merchant.name}", admin_merchant_path(merchant.id) %> - <%= number_to_currency(merchant.invoice_items.revenue) %> in sales <br>
        Top selling date for <%= merchant.name %> was <%= merchant.date_with_most_sales %>
      </li>
    <% end %>
  </ol>
</section>