
<section id="links">
<h2> <%= @merchant.name %></h2>
  <nav>
    <ul>
      <li><%= link_to 'Dashboard', "/merchants/#{@merchant.id}" %></li>
      <li><%= link_to 'My items', merchant_items_path((@merchant)) %></li>
      <li><%= link_to 'My invoices', merchant_invoices_path((@merchant)) %></li>
    </ul>
  </nav>
</section>

<section id="invoice_info">
<center><h2>Invoice <%= @invoice.id %></h2></center>
  <p>Status: <%= @invoice.status %></p>
  <p>Created on: <%= @invoice.created_at.to_datetime.strftime("%A, %B %d, %Y") %></p>
  <p>Revenue: <%= number_to_currency(@invoice.revenue, unit: "$", separator: ".", delimiter: "") %></p>
  <p>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
</section>
<section id="item_table">
  <h2>Items on Invoice</h2>
  <table>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Status</th>
    </tr>
    <% @invoice.invoice_items.each do |invoice_item| %>
      <tr>
        <td><%= invoice_item.item.name %></td>
        <td><%= invoice_item.quantity %></td>
        <td><%= number_to_currency(invoice_item.unit_price, unit: "$", separator: ".", delimiter: "") %></td>
        <td><%= form_with url: "/invoice_items/#{invoice_item.id}", method: :patch, id: "item-#{invoice_item.item.id}-Status" do |form|  %>
            <%= form.label :item_status %>
            <%= form.select :status, options_for_select(["packaged", "shipped", "pending"], invoice_item.status) %>
            <%= form.submit "Update Item Status" %>
            <% end %>
          </td>
      </tr>
    </section>
  <% end %>