<h3>Merchant Invoices show</h3>

<p>Invoice ID: <%= @invoice.id %></p>
<p>Status: <%= @invoice.status %></p>
<p>Date Created: <%= @invoice.date_format %></p>
<p>Total revenue: <%= number_to_currency(@invoice.total_revenue / 100) %></p>
<p>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
<p>Items on the invoice: <% @merchant.merchant_items(@merchant.id).each do |item|%></p>
  <p>Name: <%= item.name %></p>
  <p>Quantity sold: <%= item.quantity %></p>
  <p>Price sold: <%= number_to_currency(item.price_total) %>
  <p>Status: <% if item.shipping_status == 2 %>
                Shipped</P>
              <% elsif item.shipping_status == 1%>
                Packaged</p>
                <% else %>
                Pending</p>
             <% end %>
  <br>
<%end%>


