<section class="links"> 
  <p><%= link_to "Merchant Items", "merchant_path(@merchant)", method: :get  %></p>
  <p><%= link_to "Merchant Invoice Items", "invoices_path(@merchant)", method: :get %></p>
</section>

<section class="merchant-info">
  <h1><%= @merchant.name %></h1>
</section>

<section class="top-five">
  <h3> Top Five Customers </h3>

  <% @merchant.top_five_cust.each do |customer| %>
    <div id="customer-<%= customer.id %>">
      <h3>Customer Name: <%= customer.first_name %> <%= customer.last_name %> Successful Transaction(s): <%= customer.successful_transactions %></h3>
    </div>
  <% end %>
</section>

 <section class="shipable-items">
  <% @merchant.not_shipped_invoices.each do |invoice| %>
    <div id="invoice-<%= invoice.id %>">
      <h3><%= invoice.item_name %></h3>
      <p><%= link_to "Invoice ID, #{invoice.id}", invoice_path(invoice.id), method: :get %></p>
      <p>Created at: <%= invoice.created_at.strftime('%A, %B, %d, %Y') %></p>
    </div>
  <% end %>
</section>


