<h1 id="merchant_name"><%= @merchant.name %></h1>

<ul id="store_links">
  <li><%= link_to 'My Items', "/merchants/#{@merchant.id}/items" %></li>
  <li><%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices" %></li>
</ul>

<p id='top_five'> The Top 5 Customers: </p>
<% @merchant.top_customers.each do |customer| %>
  <li><%= "#{customer.first_name} #{customer.last_name} purchased #{customer.count} items" %></p>
<% end %>

<div id="ready_to_ship"> <p> Ready to ship </p>
<% @merchant.items_to_ship.each do |item| %>
  <%= "#{item.name} created at: #{item.formatted_date} Ready for: " %><%= link_to "#{item.invoice_id}", "/merchants/#{@merchant.id}/invoices/#{item.invoice_id}" %></br>
<% end %>
</div>
