<!-- https://backend.turing.edu/module2/lessons/partials -->

<%= render partial: "header", locals: {merchant: @merchant} %>

<%= image_tag(@merchant_photo.url["thumb"]) %>

<div id="favorite-customers">
  <h4>Favorite Customers</h4>
  <ol>
    <% @merchant.favorite_customers_alt.each do |c| %>
      <li><%= c.full_name %> - <%= c.num_transactions %> purchases</li>
    <% end %>
  </ol>
</div>

<div id="items_to_be_shipped">
  <h4>Items Ready to Ship</h4>
  <ul>
    <% @merchant.items_ready.each do |i| %>
      <li><%= i.name %> - Invoice #<%= link_to "#{i.invoice_id}", merchant_invoice_path(@merchant, i.invoice_id) %> - <%= i.invoice_created_at %></li>
    <% end %>
  </ul>
</div>