<h1>Ahoy, matey! Here be ye Merchant Page</h1>


<section id="merchant_info-<%= @merchants.id %>">
  <h2><%= @merchants.name %></h2>
</section>

<%= @merchants.name %>'s Items: 
<section id="items_index-<%= @merchants.id %>">
  <%= link_to "Items", "/merchants/:merchant_id/items" %>
</section>

<section id="invoices_index-<%= @merchants.id %>">
  <%= link_to "Invoices", "/merchants/:merchant_id/invoices" %>
</section>

<h3>Ye Top 5 Cusomters, Yaharr</h3>
<section id="top_5_customers-<%= @merchants.id %>">
  <ul>
    <% @top_5.each do |customer| %>
      <li>
      <%= customer.first_name %>
      <%= customer.last_name %>
      (<%= customer.amount_of_transactions %>Transactions)
      </li>
  </ul>
</section>
    <% end %>

<h3>Here be ye Items Ready to Ship</h3>
<section id="items_to_ship-<%= @merchants.id %>">
  <ul>
    <% @items_to_ship.each do |item| %>
      <% if item.invoice_items.any? { |invoice_item| invoice_items.status == "packaged" } %>
    <li>
      <%= item.name %>
    </li>
      <% end %>
    <% end %>
  </ul>
</section>

