<h1><%= @merchant.name %></h1>
<br>
<hr>

<div style="display: flex;">
  <%= button_to "#{@merchant.name} Items", "/merchants/#{@merchant.id}/items", method: :get %>
  <%= button_to "#{@merchant.name} Invoices", "/merchants/#{@merchant.id}/invoices", method: :get %>
</div>
<hr>

<div id="top_five_customers">
<ul>
  <% @merchant.top_five_customers.each do |top| %>
    <li>
      <%= top.first_name %>
      <span class="transaction-count">(<%= top.transaction_count %> Transactions)</span>
    </li>
  <% end %>
</ul>
</div>

<h2>Items Ready To Ship</h2>
<% if @merchant.pending_items.present? %>
  <div id="item">
  <ul>
      <% @merchant.pending_items.each do |item| %>
      <li>
          <%= link_to item.name, "/merchants/#{@merchant.id}/invoices/#{item.invoices.first.id}" %>
          <span class="Invoice-ID">(<%= item.invoices.first.id %> Related Invoice)</span>
      </li>
  <% end %>
  </ul>
  <% else %>
    <p>No items</p>
  </div>
<% end %>
