<%= @merchant.name %>
<br>
<%= link_to "Items", "/merchants/#{@merchant.id}/items", :merchant_id => @merchant.id%>
<%= link_to "Invoices", "/merchants/#{@merchant.id}/invoices", :merchant_id => @merchant.id%>

<%# <section>
  <h1>Items Ready to Ship</h1>
</section>
  <% if @invoice.status != 2 %>
    <%# <% @invoice.items.each do |item| %>
      <%# <p><%= item.name Invoice ID:<%= link_to "#{@invoice.id}", "/merchants/#{@merchant.id}/invoices", :merchant_id => @merchant.id %></p> %>
      <%# <br> %>
    <%# <% end %> 
  <%# <% end %> 
<%# </section></br>  %>

<% @top_customers.each_with_index do |customer, index| %>
  <%= "#{index + 1}. #{customer.full_name} - #{@merchant.top_five_customers_count[customer.id]} purchases" %></br>
<% end %>
