<h1>Welcome Back, <%= @merchant.name %></h1>
  <p><%= link_to "My Items", "/merchants/#{@merchant.id}/items" %></p>
  <p><%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %></p>

<section class="top_five_customers">
  <h3> Top Five Customers </h3>
    <ol>
      <% @merchant.top_five_customers.each do |customer| %>
        <li><%= customer.first_name %> <%= customer.last_name %> has <%= customer.transaction_counter %> Succesful Transactions</li>
      <% end %>
    </ol>
</section>

<section id="items-ready-to-ship"> 
<h3> Items Ready To Ship </h3>
  <ol>
    <% @merchant.items_ready_to_ship.each do |item|%>
      <%= item.name %>
      <p>Invoice ID Links:</p> 
      <li><% item.invoice_ids.each do |id| %>
      <%= link_to "#{id}:", "/merchants/#{@merchant.id}/invoices/#{id}" %></li>
      <%= Invoice.retrieve_invoice(id).format_date %>
      <br>
      <% end %>
    <% end %>
  </ol>
</section>