<h1>Welcome Back, <%= @merchant.name %></h1>
  <p><%= link_to "My Items", "/merchants/#{@merchant.id}/items" %></p>
  <p><%= link_to "My Invoices", "/merchants/#{@merchant.id}/invoices" %></p>

<section class="top_five_customers">
  <h3> Top Five Customers </h3>
    <ol>
      <% @merchant.top_five_customers.each do |customer| %>
        <li><%= customer.first_name %> <%= customer.last_name %> has <%= customer.transaction_counter %> Succesful Transactions</li>
      <% end %>
    </ol>
</section>

<h3> Items Ready To Ship </h3>
  <ol>
    <% @merchant.items_ready_to_ship.each do |item|%>
      <li><%= item.name %> ---- Invoice ID Links <%= link_to "#{item.invoice_ids}", "/merchants/#{@merchant.id}/invoices" %></li>
    <% end %> 
  </ol>
