<%= render partial: "merchants/header", locals: {merchant: @merchant} %>

<h3>Update Item Form</h3>

<div id="edit_item_form">
<%= form_with model: @item, url: merchant_item_path(@merchant, @item) do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>

  <p><%= f.label :description %></p>
  <p><%= f.text_area :description %></p> 

  <p><%= f.label :unit_price %></p>
  <p><%= f.text_field :unit_price %></p> 

  <p><%= f.submit %></p>
<%end%>
</div>