<div class="header"><h1>Little Esty Shop</h1></div>


<ul>
  <li><a> <%= @merchant.name %>'s Items </a></li>
  <li><%= link_to "Create a new item", "/merchants/#{@merchant.id}/items/new" %></li>
</ul>

<p class="solid"> Items for <%= @merchant.name %> </p>

<h3>Enabled Items</h3>
<% @merchant.items.each do |item| %>
  <div id="enabled_item-<%= item.id %>">
  <% if item.enable == true %>  
  <p> Item Name: <%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %> 
  
  <%= button_to "Disable", "/merchants/#{@merchant.id}/items", method: :patch, params: { :commit => "Disable", :item_id => item.id } %><% end %>

<% end %></div>

<h3>Disabled Items</h3>
<% @merchant.items.each do |item| %>
  <div id="disabled_item-<%= item.id %>">
  <% if item.enable == false %>
  <p> Item Name: <%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %> 
  <%= button_to "Enable", "/merchants/#{@merchant.id}/items", method: :patch, params: { :commit => "Enable", :item_id => item.id } %></p>
<% end %></div>
<% end %>
