<div class="header">
<h1>Items</h1>
</div>

  <section id="enabled-items">
    <h2>Enabled Items</h2>
<% @items.each do |item| %>
    <p>
      <% if item.enabled? == true %>
      <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
      <%= form_with url: item_path(item), method: :patch do %>
        <%= submit_tag item.button_text, id: "submit-#{item.id}" %>
      <% end %>
      <% end %>
    </p>
  </section>
<% end %>

<h2>Disabled Items</h2>
  <section id="disabled-items">
<% @items.each do |item| %>
    <p>
      <% if item.enabled? != true %>
      <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %>
      <%= form_with url: item_path(item), method: :patch do %>
        <%= submit_tag item.button_text, id: "submit-#{item.id}" %>
      <% end %>
      <% end %>
    </p>
  </section>
<% end %>

<%= link_to "Create A New Item", "/merchants/#{@merchant.id}/items/new" %>

<h2>Top 5 Most Popular Items:</h2>
<div class="top-5-items">
  <% @merchant.top_5_items.each do |item| %>
    <p><%= link_to "#{item.name}", merchant_item_path(item.merchant_id, item.id) %></p>
    <p>Total Revenue: $<%= Item.item_revenue(item) %></p>
    <p>Top selling date for <%= item.name %> was <%= Item.item_best_day(item).strftime('%-m/%d/%y') %>
  <% end %>
</div>