<h1><%= @merchant.name %>'s Items</h1>

<p> <%= link_to "Create New Item", "/merchants/#{@merchant.id}/items/new" %> </p>
<br>

================================================================

<h1>Top 5 Money-Makers:</h1>
  <ul>
    <% @top_earning_items.each do |item| %>
      <li>Product: <%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %> Earned: $<%= item.total_revenue.to_f / 100 %></li>
      <p>Top Selling Date for <%= item.name %> was <%= item.top_sales_date %> </p>
    <% end %>
  </ul>
  
<section id="enabled-items">

================================================================

<h2> Enabled Items </h2>

<% @items.each do |item| %>
  <% if item.status == "enabled" %> 
    <section id=<%="item-#{item.id}" %>>
      <ul>
        <li>Name: <%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %> Description: <%= item.description %>, Price: $<%= item.unit_price/100.00 %>, Status: <%= item.status %></li>       
        <%= form_with model: [@merchant, item], method: :patch, local: true do |form| %>
          <%= form.hidden_field :enabled, value: "enabled" %>
          <%= form.submit "enable" %>
        <% end %>

        <%= form_with model: [@merchant, item], method: :patch, local: true do |form| %>
          <%= form.hidden_field :disabled, value: "disabled" %>
          <%= form.submit "disable" %>
        <% end %>
      </ul>
  <% end %>  
<% end %>

</section>

================================================================

<section id="disabled-items">

<h2> Disabled Items </h2>

<% @items.each do |item| %>
  <% if item.status == "disabled" %>
    <section id=<%="item-#{item.id}" %>>
      <ul>
        <li>Name: <%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %> Description: <%= item.description %>, Price: $<%= item.unit_price/100.00 %>, Status: <%= item.status %></li>      
        <%= form_with model: [@merchant, item], method: :patch, local: true do |form| %>
          <%= form.hidden_field :enabled, value: "enabled" %>
          <%= form.submit "enable" %>
        <% end %>

        <%= form_with model: [@merchant, item], method: :patch, local: true do |form| %>
          <%= form.hidden_field :disabled, value: "disabled" %>
          <%= form.submit "disable" %>
        <% end %>
      </ul>
  <% end %>  
<% end %>

</section>

