<h1><%= @merchant.name %></h1>

<p>Available items:</p>
<ul>
  <% @merchant.items.each do |item| %>
    <li id="item-<%= item.id %>"><a href="/merchants/<%= @merchant.id%>/items/<%= item.id %>"><%= item.name %></a></li>
  <% end %>
</ul>