<h1> Items for <%= @merchant.name %> </h1>

<% @items.each do |i| %>
  <h2><%= i.name %></h2>
  <%= link_to i.name, "/items/#{i.id}" %>
  <p> Description: <%= i.description %></p>
  <p> Unit Price: <%= i.unit_price %></p>
<% end %>