<h1><%= @item.name %></h1>

<ul>
  <li>Name: <%= @item.name %></li>
  <li>Description: <%= @item.description %></li>
  <li>Unit price: <%= number_to_currency(@item.unit_price / 100.0) %></li>
</ul>

<%= link_to "Update Item", "/items/#{@item.id}/edit" %>