<div class="header"><h1>Little Esty Shop</h1></div>

<ul>
  <li><a> <%= @item.merchant.name %>'s Items </a></li>
</ul>

<p class="solid">My Item</p>

<p>Item Name: <%= @item.name %></p>
<p>Item Description: <%= @item.description %></p>
<p>Item Unit Price: <%= @item.unit_price %></p>

<%= link_to "Update Item", "/merchants/#{@item.merchant.id}/items/#{@item.id}/edit" %>

