<%= render partial: "admin/invoices/invoice_details", locals: { invoice: @invoice} %>

  <% @specific_invoice_items.each do |invoice_item| %>
<ul>
  <li>ITEM NAME: <%= invoice_item.item.name %></li>
  <li>QUANTITY: <%= invoice_item.quantity %></li>
  <li>UNIT PRICE: <%= invoice_item.unit_price %></li>
  <li>ITEM STATUS: <%= invoice_item.status %></li>
</ul>
<% end %>
