<%= render partial: "merchants/header", locals: {merchant: @merchant} %>

<div id="merchant_invoice_info">
  <h1>Invoice #<%= @invoice.id %></h1>

  <p><b>Status: </b><%= @invoice.status.titleize %></p>
  <p><b>Created on: </b><%= @invoice.formatted_date %></p>

  <div id="merchant_invoice_customer_info">
    <h2>Customer:</h2>
    <p><%= @invoice.customer.full_name %></p>
  </div>
</div>
