<h1>Invoice #<%= @invoice.id %></h1>
<h2>Status: <%= @invoice.status %></h2>
<h2>Date Created: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></h2>
<h2>Customer: <%= @customer.first_name + " " + @customer.last_name %>

<h1>Item Information:</h1>
<h2>
  <% @invoice.items.each do |item| %>
    <% if item.merchant_id == @merchant.id %> 
      <ul>
        <li>Name: <%= item.name %></li>
        <% @invoice.invoice_items.each do |invoice_item| %>
          <% if invoice_item.item_id == item.id %> <!-- see line 8 -->  
            <li>Quantity: <%= invoice_item.quantity %></li>
            <li>Final Price: $<%= invoice_item.unit_price / 100.00 %></li>
            <li>Status: <%= invoice_item.status %></li>
              <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}?invoice_item_id=#{invoice_item.id}", method: :patch, data: {turbo: false} do |f| %>
                <%= f.label :update_item, "Update Item Status" %>
                <%= f.select :status, [["Pending", "pending"], ["Packaged", "packaged"], ["Shipped", "shipped"]], selected: invoice_item.status %>
                <%= f.submit "Update Item Status" %>
              <% end %>
          <% end %>
        <% end %>
      </ul> 
    <% end %>
  <% end %>
</h2>

<h3><%= "Total Expected Revenue: $#{@merchant.total_invoice_revenue(@invoice).to_f / 100}" %></h3>

