<div class="header"><h1>Little Etsy Shop</h1></div>

<ul>
  <li><a> <%= @invoice.items.first.merchant.name %>'s Invoices </a></li>
</ul>

<p class="solid">My Invoice</p>

<p>Invoice ID: <%= @invoice.id %></p>
<p>Invoice Status: <%= @invoice.status %></p>
<p>Invoice Date: <%= @invoice.created_at.strftime('%A, %B %d, %Y') %></p>
<p>Customer Name: <%= @invoice.customer.name %></p>