<section class="invoice">
  <h1><%=@invoice.id%></h1>
  <p><%=@invoice.status%></p>
  <p><%=@invoice.created_at.strftime('%A, %B, %d, %Y')%></p>
  <p><%=@invoice.customer.first_name%> <%=@invoice.customer.last_name%></p>
</section>

<section class="invoice-items">
  <% @invoice.items.each do |item| %>
  <div id="item-<%= item.id %>">
    <h3><%= item.name %></h3>
    <p><%= @invoice.total_revenue %></p>
    <p><%= item.current_invoice_item(item, @invoice).quantity %></p>
    <p><%= item.current_invoice_item(item, @invoice).unit_price %></p>
    <p><%= item.current_invoice_item(item, @invoice).status %></p>
  </div>
<% end %>
</section>
