<section id="top-5-items">
  <h3>Top 5 Items</h3>
  <% @merchant.top_five_items.each do |item| %>
    <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %>
    : <%= number_to_currency(item.total_revenue / 100) %></br>
  <% end %>
</section>

<section id="enabled-items">
  <h3>Enabled Items</h3>
  <% @merchant.enabled_items.each do |item| %>
    <section id="enabled-<%= item.id %>">
      <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %></br>
      <%= button_to "Disable Item", merchant_item_status_path(@merchant, item), 
      method: :patch, params: { status: "disabled" }, data: { turbo: false }, local: true %></br>
    </section>
  <% end %>
</section>

<section id="disabled-items">
  <h3>Disabled Items</h3>
  <% @merchant.disabled_items.each do |item| %>
<<<<<<< HEAD
    <section id="<%= item.id %>">
      <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %></br>        
      <%= button_to "Enable Item", merchant_item_status_path(@merchant, item), method: :patch, params: { status: "enabled" }, data: { turbo: false }, local: true %></br>
    <section id="disabled-<%= item.id %>">
      <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %></br>       
      <%= button_to "Enable Item", merchant_item_status_path(@merchant, item), 
      method: :patch, params: { status: "enabled" }, data: { turbo: false }, local: true %></br>
    </section>
  <% end %>
</section>

<%= link_to "Add Item", new_merchant_item_path(@merchant) %>