<h3><p><%= @merchant.name %> Items</p></h3>

<nav>
  <ul>
    <li><%= link_to 'Dashboard', "/merchants/#{@merchant.id}" %></li>
    <li><%= link_to 'My items', merchant_items_path((@merchant)) %></li>
    <li><%= link_to 'My invoices', merchant_invoices_path((@merchant)) %></li>
  </ul>
</nav>

<p><%= link_to "Create New Item", "/merchants/#{@merchant.id}/items/new", method: :get %></p>

<div class="enabled-items">
<h4>Enabled Items</h4>
<% @merchant.items.sort_enabled.each do |item| %>
  <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></p>
  <p><%= button_to "Disable #{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}?status=0", method: :patch %></p>
<% end %>
</div>

<div class="disabled-items">
<h4>Disabled Items</h4>
<% @merchant.items.sort_disabled.each do |item| %>
  <p><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></p>
  <p><%= button_to "Enable #{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}?status=1", method: :patch %></p>
<% end %>
</div>

<div class="top-five-items">
  <h4>Top 5 Items</h4>
  <ol>
    <% @items.top_5_items_by_revenue.each do |item| %>
        <li><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %> <%=" - #{number_to_currency(item.total_revenue / 100, unit: "$", separator: ".", delimiter: ",")} in sales" %></li>
        <p>Top selling date for <%= item.name %> was <%= item.best_day %></p>
    <% end %>
  </ol>
</div>

