<h1><%= @item.name %></h1>

<p>Item Description: <%= @item.description %></p>
<p>Item Unit Price: <%= @item.unit_price %></p>
<section class="search">
<img src= <%= @search %>>
</section>

<%= link_to "#{@item.name} update information", "/merchants/#{@item.merchant.id}/items/#{@item.id}/edit", method: :get %>