<h1> <%= @merchant.name %>'s <%= @item.name %>  Show Page </h1>

<h4><%= @item.name %></h4>
<p>Description: <%= @item.description %></p>
<p>Current Selling Price: <%= "$#{@item.unit_price.to_f/100.round(2)}" %></p>

