<%= image_tag @item_photo.url %>

<h4><%= @item.name %></h4>
<p>Item Name: <%= @item.name %></p>
<p>Item Description: <%= @item.description %></p>
<p>Current Selling Price: <%= number_to_currency(@item.unit_price/100.00) %></p>

<%= link_to "Edit #{@item.name}", "/merchants/#{@merchant.id}/items/#{@item.id}/edit" %>