<h2>Merchant Items:</h2>
<ul>
  <h2>Disabled Items:</h2>
  <div id="disabled">
  <% @merchant.items.each do |item| %>
    <% if item.status == "Disable" %>
      <li>
        <%= link_to item.name, merchant_item_path(@merchant, item) %>
        <%= form_with url: merchant_item_path(@merchant, item), method: :patch, local: true do |form| %>
          <%= form.submit "Enable" %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</div>

  <h2>Enabled Items:</h2>
  <div id="enabled">

  <% @merchant.items.each do |item| %>
    <% if item.status == "Enable" %>
      <li>
        <%= link_to item.name, merchant_item_path(@merchant, item) %>
        <%= form_with url: merchant_item_path(@merchant, item), method: :patch, local: true do |form| %>
          <%= form.submit "Disable" %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</div>

<div id="create item">
<p><%= link_to "Create Item", new_merchant_item_path(@merchant) %></p>
</div>
</ul>

<div id="popular_items">

<h2>5 most popular items</h2>
<ul>
  <% @top_items_withdate.each do |item, top_selling_date| %>
    <li>
      <%= link_to item.name, merchant_item_path(@merchant, item) %>
      - Total Revenue: <%= number_to_currency(item.total_revenue) %>
      <p>Top Selling Date: <%= top_selling_date %></p>
    </li>
  <% end %>
</ul>

</div>
