<h1>Little Etsy Shop</h1>

<p><%= @merchant.name %></p>

<p>Name: <%= @item.name %></p>
<img src="<%= @image.url %>" alt= <%= @item.name %> width="50" height="60"> 
<p>Description: <%= @item.description %></p>
<p>Current Selling Price: <%= @item.formatted_unit_price %></p>

<p><%= link_to 'Update Item', edit_merchant_item_path(@merchant, @item) %></p>