<h1><%= @item.name %></h1>

<ul>
  <li>Name: <%= @item.name %></li>
  <li>Description: <%= @item.description %></li>
  <li>Unit Price: <%= @item.unit_price %></li>
  <li>Merchant ID: <%= @item.merchant_id %></li>
</ul>