<h1>Little Esty Shop</h1> 
<p><%= @merchant.name %></p>
<%= image_tag @merchant_image, alt: "Merchant Image", style: "width: 10%;" %>

<div id="items-divider">
  <li><%= link_to "My Items", merchant_items_path %></li>
</div>

<div id="invoices-divider">
  <li><%= link_to "My Invoices", merchant_invoices_path %></li>
</div>

<div id="fav-customers-divider">
  <h2>Favorite Customers</h2>

    <% @customers.each do |customer| %>
      <div id="customer-info">
        <p><%= customer.full_name %></p>
        <p><%= customer.transaction_count %></p>
      </div>
    <% end %>
</div>

<div id="ready-to-ship">
  <h2>Items Ready To Ship</h2>
    <p><% @items.each do |item| %></p>
      <p><%= item.name %> - <%= item.invoice.format_created_at %></p>
      <p><%= link_to "#{item.invoice_id}", merchant_invoice_path(@merchant, item.invoice_id) %></p>
    <% end %>
</div>