<h1>Little Etsy Shop</h1>
<h2><%= @merchant.name %>
<%= link_to "My Items", merchant_items_path(@merchant) %>
<%= link_to "My Invoices", merchant_invoices_path(@merchant) %>

<h3>Favorite Customers</h3>
    <ol>
        <% @top_customers.each do |customer| %>
            <li> <%= customer.first_name %>  <%= customer.last_name %> <%= customer.transaction_count %></li>
        <% end %>
    </ol>

<h3>Items Ready to Ship</h3>
    <ul>
        <% @items_ready_to_ship.each do |invoice_item| %>
            <li> <%= invoice_item.item.name %>
                - Invoice #<%=link_to invoice_item.invoice_id, merchant_invoice_path(@merchant, invoice_item.invoice_id) %>
                - <%= invoice_item.invoice.created_at %>
            </li>
        <% end %>
    </ul>
