<section class = header> <h1> Admin Dashboard </h1></section>  
<p><%= link_to "Admin: All Merchants", "/admin/merchants" %></p>
<p><%= link_to "Admin: All Invoices", "/admin/invoices" %></p>
<p> The Top 5 Customers: </p>
<% Customer.top_customers.each do |customer| %>
<section id="customer-<%= customer.id%>">
  <%= "#{customer.first_name} #{customer.last_name}: #{customer.count} Transactions" %></br>
  </section>
<% end %>

<p> Incomplete Invoices: </p>
<% Invoice.incomplete.each do |invoice|%>
<%= link_to "#{invoice.id}", "/admin/invoices/show" %>
<% end %>