<!DOCTYPE html>
<html>
  <head>
    <title>LittleEstyShop7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <style>
      .header {
        font-family: Monaco;
        background-color: MediumSeaGreen;
        padding: 20px;
        text-align: center;
      }
      .subhead {
        font-family: Helvetica;
        border-left: 6px solid blue;
        background-color: lightgrey;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      li {
        float: left;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      /* li a:hover:not(.active) {
        background-color: #111;
      } */
      .active {
        background-color: #04AA6D;
      }

      p.solid {
        border-style: solid;
        margin: auto;  
        padding: 16px;
        text-align: center;
      }

      .button {
        display: flex;
      }
    </style>
     <% flash.each do |type, message| %>
      <h3><p><%= message %></p></h3>
    <% end %>
    <%= yield %>
  </body>
</html>
