<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>LittleEstyShop7</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div class="row pt-3">
        <div class="col text-end align-self-center" id="little_esty">
        </div>
        <div class="col align-self-center">
          <h1 class="fw-bolder"><span class="bg-dark-subtle px-3 py-2">Little Esty Shop</span></h1>
        </div>
      </div>
    </div>
    <% flash.each do |type, msg| %>
      <div class="<%= type %>">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
