<!DOCTYPE html>
<html>
  <head>
    <title>LittleEstyShop7</title>

    <img src=<%= @logo_image %>width="200" height="300">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <% flash.each do |key, message| %>
    <div class="flash <%= key %>">
      <%= message %>
    </div>
  <% end %>

  <body>
   
    <%= yield %>
  </body>
</html>
