<!DOCTYPE html>
<html>
  <head>
    <title>LittleEstyShop7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <h1 style="text-align: center;">Little Esty Shop</h1>
    <h2>Ray's Handmade Jewelry</h2>
      <section style="text-align: right;">
        <p><%= link_to "Dashboard", "/merchants/:merchant_id/dashboard" %></p>
        <p><%= link_to "My Items", "/merchants/:merchant_id/items" %></p>
        <p><%= link_to "My Invoices", "/merchants/:merchant_id/invoices" %></p>
      </section>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>